{% extends "layout.html" %}

{% block main %}


    <div class="container main-body">
        <div class="container main">
            <header><i class="bx bx-left-arrow-alt"></i>Weather</header>
            <section class="input">
                <p class="info"></p>
                <div class="container input">
                    <input type="text" spellcheck="false" placeholder="City" required>
                    <div class="separator">
                    </div>
                    <button>Get Device Location</button>
                </div>
            </section>

        </div>
    </div>

{% endblock %}